[tool.black]
line-length = 100
target-version = ["py312"]
exclude = '''
/(
  \.git
| \.venv
| \.mypy_cache
| \.pytest_cache
| migrations
| renter/settings
| backend[/\\]renter[/\\]settings
| build
| dist
)/
'''

[tool.isort]
profile = "black"
line_length = 100
skip = ["migrations", ".venv", ".git", "build", "dist"]

[tool.pytest.ini_options]
DJANGO_SETTINGS_MODULE = "renter.settings.dev"
python_files = ["tests.py", "test_*.py", "*_tests.py"]
