[tool.black]
line-length = 100
target-version = ["py312"]
exclude = '''
/(
  \.git
| \.venv
| \.mypy_cache
| \.pytest_cache
| migrations
| build
| dist
)/
'''

[tool.isort]
profile = "black"
line_length = 100
skip = ["migrations", ".venv", ".git", "build", "dist"]